::-webkit-scrollbar {
    width: .3em;
    height: .3em;
}
::-webkit-scrollbar-button {
    background: #888
}
::-webkit-scrollbar-track-piece {
    background: #ccc
}
::-webkit-scrollbar-thumb {
    background: #888
}
.editdevices {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
}

.heading {
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: 40px 10px;
}

.heading h3 {
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
    border-bottom: 2px solid black;
    text-align: center;
}

.devices {
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 9;
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 30px);
    overflow-y: auto; 
    overflow-x: hidden;
    max-height: 300px;
}
.adddevice {
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 9;
    grid-row-end: 10;
    display: grid;
    grid-template-rows: 20px 30px;
}
.adddevicebutton{
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: aliceblue;
    vertical-align: middle;
    line-height: 30px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: black;
    border-radius: 5px;    
}

.devices .row {
    grid-column-start: 1;
    grid-column-end: 11;
    display: grid;
    grid-template-columns: repeat(10, 40px);
    height: 30px;
}

.devices .row .empty{
    grid-column-start: 1;
    grid-column-end: 11;
    vertical-align: middle;
    line-height: 30px;
    text-align: center;
}

.devices .row .devname{
    grid-column-start: 1;
    grid-column-end: 3;
    height: 30px;
    justify-content: left;
    vertical-align: middle;
    line-height: 30px;
    margin-left: 5px;
}

.devices .row .ip{
    grid-column-start: 3;
    grid-column-end: 7;
    height: 30px;
    justify-content: left;
    vertical-align: middle;
    line-height: 30px;
}

.devices .row .port{
    grid-column-start: 7;
    grid-column-end: 9;
    height: 30px;
    justify-content: left;
    vertical-align: middle;
    line-height: 30px;
}

.devices .row .edit{
    grid-column-start: 9;
    grid-column-end: 10;
    height: 30px;
    vertical-align: middle;
    line-height: 30px;
    text-align: center;
}

.devices .row .delete{
    grid-column-start: 10;
    grid-column-end: 11;
    height: 30px;
    vertical-align: middle;
    line-height: 30px;
    text-align: center;
}

.odd{
    background-color: #F8F8F8;
}

.addnewdev {
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: 30px;
    height: 30px;
    background-color: #F8F8F8;
}

.addnewdev .newdevname{
    grid-column-start: 1;
    grid-column-end: 3;
    padding-left: 3px;
    background-color: #F8F8F8;
    border-right: 3px solid white;
}

.addnewdev .newdevip{
    grid-column-start: 3;
    grid-column-end: 7;
    padding-left: 3px;
    background-color: #F8F8F8;
    border-right: 3px solid white;
    
}

.addnewdev .newdevport{
    grid-column-start: 7;
    grid-column-end: 9;
    padding-left: 2px;
    background-color: #F8F8F8;
    border-right: 3px solid white;
}

.addnewdev .newdevdiscard{
    grid-column-start: 9;
    grid-column-end: 10;
    height: 30px;
    vertical-align: middle;
    line-height: 30px;
    text-align: center;
}

.addnewdev .newdevwrite{
    grid-column-start: 10;
    grid-column-end: 11;
    height: 30px;
    vertical-align: middle;
    line-height: 30px;
    text-align: center;
}

.errormessage {
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 10;
    grid-row-end: 11;
    display: grid;
    grid-template-rows: 10px 40px;
}

.errormessage .message {
    grid-row-start: 2;
    grid-row-end: 3;
    background-color:#FFCCCC;
    vertical-align: middle;
    line-height: 40px;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    color: #DC143C;
    display: none;
}

