body {
    background-color: #ffffff;
}
.container {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(6, 100px);
  }

  .connectimg {
      width: 75px;
      height: 75px;
      position: absolute;
      left: 365px;
      top: 90px;
  }

.form {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 5;
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 20px);
    padding: 0;
    margin: 0;
    background-color: white;
    border-radius: 10px;
    border: 2px solid white;
}

.heading {
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 4;
    text-align: center;
    border-bottom: 2px solid black;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.devices{
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 5;
    grid-row-end: 7;
    font-size: 20px;
    font-style: bold;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.default {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 8;
    grid-row-end: 10;
    vertical-align: middle;
    line-height: 40px;
    font-size: 15px;
    font-style: bold;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;

}
.default label {
    margin-left: 5px;
}

.connect {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 8;
    grid-row-end: 10;
    background-color: #333;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    border-radius: 5px;
    font-style: bold;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}
.connect a{
    text-decoration: none;
    color: white;
}